
body{
    font-family: "lust", serif;
    font-weight: 700;
    font-style: normal;
    color: #ffcb18!important;
}

body{
    background-image: url(images/website-background-black.png);
    background-repeat: no-repeat;   
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 1.5em;
}

.navbar-nav a{
    text-decoration: none;
    font-family: "miller-display", serif;
    font-weight: 400;
    font-style: italic;
    color: #ffcb18!important;
    text-align: right;
}

.navbar-light{
    background-color: #0c0c0c!important;
    opacity: 95%;
}

.content__text span {
	display: inline-block;
}

.fifty{
    text-align: center;
    padding-top: 15em;
    padding-bottom: 15em;
}

.about-text {
    font-family: "miller-display", serif;
    font-weight: 400;
    font-style: italic;
}

#image-holder{
    height: 200px;
}

.image-holder img{
    position:absolute;
    left: 50px;
}

#countdown{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; 
} 

.countdown-text{
    font-size: 1em;
}
    
#countdown li { 
    display: inline-block; 
    font-size: .7em; 
    list-style-type: none; 
    padding: .25em; 
    text-transform: uppercase; 
} 
    
#countdown li span { 
    display: block; 
    font-size: 1.75rem; 
} 

.partyfifty{
    text-align: left;
    padding: 7.5em 2em;
}

.event_info{
    text-align: right;
    font-family: "miller-display", serif;
}

.order-event{
    font-family: "miller-display", serif;
}

.rsvp-bg{
    background-color: #ffcb18;
}

.rsvphere{
    color:#ffcb18;
    text-decoration: underline;
}


/*Phone devices*/
@media (min-width:320px){ 
    #countdown{
        font-size: .50em;
    }
    .about{
        padding: 3em;
        text-align: center;
    }


}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (max-width:767px){
    .image-holder img{
        margin-left: 6em;
    }

    #countdown{
        font-size: 1.5em;
    }
}

/*Tablet*/
@media only screen and (min-width:768px) and (max-width:991px){
    #countdown{
        font-size: 1.5em;
    }
}

/*Desktop*/
@media only screen and (min-width:992px){
    .fifty{
        font-size: 1.5em;
        padding-top: 10em;
        padding-bottom: 10em;
    }

    .navbar-brand{
        margin-left: 1em;
    }
    
    .navbar-nav {
        padding-left: 8em;
    }

    .navbar-nav .nav-link {
        margin-right: 4em;
        margin-left: 4em;
    }

    .polaroids img{
        height: 380px;
    }
    
    .countdown-text{
        font-size: 1.5em;
    }

    #countdown{
        font-size: 2em;
    }

    .rsvp{
        margin:0 auto;
        width:75%;
        text-align:left;
    }

    .rsvp iframe{
        width: 769px;
        height: 970px;
    }

    .partyfifty{
        padding: 1.5em 9em;
        font-size: 1.5em;
    }

    .event_info{
        font-size: 1.5em;
        padding: 0 9em;
    }
}

